# Arquivos do sistema
.DS_Store
Thumbs.db

# Configuração de ambiente
.env

# Arquivos de cache e log
*.log
*.cache

# Cache e configurações do sistema de edição
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos temporários
*.tmp
*.temp
*.swp

# Sistema de dependências
vendor/
node_modules/

# Cache do PHP
composer.lock

# Arquivos do sistema de cache e sessão do PHP
php_errors.log
sessions/
cache/

# Arquivos de debug
*.bak
*.old
